{% extends 'base.html' %}
 
 <title>Welcome To MCCIA</title>
 


<body>
  {% block content %}

<div id="dropactive">
<a href="#" class="btn btn-primary"data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style ="background-color:	#E6E6FA; color:black; "><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Ski_trail_rating_symbol-green_circle.svg/480px-Ski_trail_rating_symbol-green_circle.svg.png" style="height:17px">  Active Events </a></div><br><br>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
   
 <div  id="msg9">
<form class="form-inline my-2 my-lg-0" method ="post" >
{% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search by Event name or location" aria-label="Search" name="search" autocomplete="off" required>
      <button class="btn btn-outline-success my-2 my-sm-0 m-lg-2" type="submit" >Search</button>
    </form>
<br>
{% if eventbasepaging %}
 
  <div id="msg_wrapper">
    <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    <h3 id="msg_heading">Active Events In {% for page in citynameunique %}{{page.title}}{% endfor %} ({{ eventbasecount.count }})</h3><br>
  </div>
{% for page in eventbasepaging %}
 <li><a href="#" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent{{page.id}}" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 {{ page.event }} <img src="https://cdn-icons-png.flaticon.com/512/168/168570.png" style="height:20px;width:20px;">
 </a><div class="collapse navbar-collapse" id="navbarSupportedContent{{page.id}}">
 <ul class="navbar-nav me-auto mb-2 mb-lg-0"></li><br>
 <strong>{{ page.event }}</strong><p>{{ page.info.html | safe |slice:":255" }}..<form method ="post">{% csrf_token %}<input type ="text" name="event_id" value ="{{page.id}}" hidden><button type="submit" style ="background-color:#E6E6FA;border:none;color:skyblue"><strong> read more..</strong></button></form> <br><b> Address:</b> {{ page.eventaddress }} <br><b> Date/Time:</b>  {{ page.fromdate }} {{ page.fromtime }} to {{ page.todate }} {{ page.totime }}</p>
 <form method="post" >
 {% csrf_token %}
 <input type="number"  name="lat"  value="{{page.lat}}" hidden>
 <input type="number"  name="lang"  value="{{page.lang}}" hidden>
 <button class="btn btn-primary" type="submit"> &#xf3c5; Locate Event on map </button>
 </form>
 <br>
 <form method="post"> 
 {% csrf_token %}
 <input type="text" value="{{page.id}}" name="active_event" hidden>
 <button  class="btn btn-primary" type="submit">Book The Event</button>
 </form><br> 
 <br> </div></li><br>
 {% endfor %}
 <div class="pagination">
 <span class="step-links">
 {% if paging.has_previous %}
 <a href="?page=1">&laquo; first</a>
 <a href="?page={{ paging.previous_page_number }}">previous</a>
 {% endif %}
 
 <!-- <a href="?page={{ mapings.number }}">{{ mapings.number }} </a> -->
 
 {% if paging.has_next %}
 
 <a href="?page={{ paging.next_page_number }}">next</a>
 <a href="?page={{ paging.paginator.num_pages }}">last &raquo;</a>
 {% endif %}
 </span>
 </div>
 <br>
 </ul>
  
 {% else %}
 <div id="msg_wrapper">
 <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
 <h3 id="msg_heading">Active Events In India ({{ object_list.count }}) </h3><br>
 </div>
 <div class="infinite-container">
 {% for page in event_list %}
 <div class="infinite-item">
 <li><a href="#" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent{{page.id}}" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  {{ page.event }} <img src="https://cdn-icons-png.flaticon.com/512/168/168570.png" style="height:20px;width:20px;">
</a><div class="collapse navbar-collapse" id="navbarSupportedContent{{page.id}}">
<ul class="navbar-nav me-auto mb-2 mb-lg-0"></li><br>
  <strong>{{ page.event }}</strong><p>{{ page.info.html | safe |slice:":255" }}..<br><br>
  <a href="event/{{page.pk}}" style ="background-color:#E6E6FA;border:none;color:skyblue"><strong> read more</strong></a><br><br><b> Address:</b> {{ page.eventaddress }} <br><b> Date/Time:</b>  {{ page.fromdate }} {{ page.fromtime }} to {{ page.todate }} {{ page.totime }}</p>
  <form method="post" >
  {% csrf_token %}
  <input type="number"  name="lat"  value="{{page.lat}}" hidden>
  <input type="number"  name="lang"  value="{{page.lang}}" hidden>
  <button class="btn btn-primary" type="submit"> &#xf3c5; Locate Event on map </button>
  </form>
  <br>
  <form method="post"> 
  {% csrf_token %}
  <input type="text" value="{{page.id}}" name="active_event" hidden>
  <button  class="btn btn-primary" type="submit">Book The Event</button>
  </form><br> 
<br> </div></li><br>
</div>
{% endfor %}
</div>

{% if paging.has_next %}
<div class="pagination">
<a class="infinite-more-link" href="?page={{ paging.next_page_number }}" style ="text-align:center">Load more</a>
</div>
{% endif %}
</span>
</div>
<br>
</ul>

{% endif %}
</div>
</ul></ul></ul></ul></span></ul></ul></div>
 <!-- 'icon': 'bar-15'
 'icon': 'music-15'
 'icon': 'art-gallery-15' -->
 
  
  
  <style>
  
    .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    </style>
   
    <div style="float:right;" id="map"></div>
    
    <script>
      
        mapboxgl.accessToken = 'pk.eyJ1IjoicGF0aWx2aXB1bCIsImEiOiJjbDNsdGloMmYwY3c2M2tsNDA3aGwwd2xpIn0.aOLTH7E6WHyN97Yd6eLgPA';
    const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    {% if lat %}
    
    center: [{{lang}}, {{lat}}]
    {% elif baselat %}
    center: [{{baselang}}, {{baselat}}]
    {% else %}
    center: [78.9629, 20.5937]
    {% endif %}
    ,

    zoom: 11.15
    });
     
    map.on('load', () => {
    map.addSource('places', {
    // This GeoJSON contains features that include an "icon"
    // property. The value of the "icon" property corresponds
    // to an image in the Mapbox Streets style's sprite.
    'type': 'geojson',
    'data': {
    'type': 'FeatureCollection',
    'features': [
 
    {% for maping in event_list %}
    {
    
      'type': 'Feature',
      'properties': {
      'description': '<strong>{{ maping.event }}</strong><p> {{ maping.info.html | safe |slice:":255"}}..<br><br><a href="event/{{maping.pk}}" style ="background-color:white;border:none;color:grey"><strong> read more </strong></a><br><b> Address:</b> {{ maping.eventaddress }} <br><b> Date/Time:</b> {{ maping.fromdate }} {{ maping.fromtime }} to {{ maping.todate }} {{ maping.totime }}</p><form method="post">{% csrf_token %}<input type="text" value="{{maping.id}}" name="active_event" hidden><button  class="btn btn-primary" type="submit">Book</button></form>',
      
      'icon': '{{maping.icon}}'
    
    },
      'geometry': {
      'type': 'Point',
      
      'coordinates':  [{{ maping.lang }}, {{ maping.lat }}]    
      
     
      }
     
      },
      {% endfor %}

   
    ]

    }
    });
    
    // Add a layer showing the places.
    map.addLayer({
    'id': 'places',
    'type': 'symbol',
    'source': 'places',
    'layout': {
    'icon-image': '{icon}',
    'icon-allow-overlap': true
    }
    });
     
    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
  /*  {% if lat %}
     const description = e.features[0].properties.description;
     new mapboxgl.Popup()
    .setLngLat([{{lang}},{{lat}}])
    .setHTML(description)
    .addTo(map);
    {% endif %}*/
    map.on('click', 'places', (e) => {
    // Copy coordinates array.
    const coordinates = e.features[0].geometry.coordinates.slice();
    const description = e.features[0].properties.description;
     
    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }
     
    new mapboxgl.Popup()
    .setLngLat(coordinates)
    .setHTML(description)
    .addTo(map);
    });
     
    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', () => {
    map.getCanvas().style.cursor = 'pointer';
    });
     
    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', () => {
    map.getCanvas().style.cursor = '';
    });
    });
    map.addControl(
    new mapboxgl.GeolocateControl({
    positionOptions: {
    enableHighAccuracy: true
    },
    // When active the map will receive updates to the device's location as it changes.
    trackUserLocation: true,
    // Draw an arrow next to the location dot to indicate which direction the device is heading.
    showUserHeading: true
    })
    );
    map.addControl(new mapboxgl.NavigationControl());
    const layerList = document.getElementById('menu');
    const inputs = layerList.getElementsByTagName('input');
    
    for (const input of inputs) {
    input.onclick = (layer) => {
    const layerId = layer.target.id;
    map.setStyle('mapbox://styles/mapbox/' + layerId);
    };
    }
</script> 

</body>
</html>
{% endblock %}